/* Footer Style Starts */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 1.5rem;
	padding: 1rem;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, .7);
	background-color: var(--nav-bg-color);
	color: #fff;
	transition: .3s background-color;
}
.footer-paragraph {
	margin: 0;
	font-size: 1.1rem;
}

@media screen and (max-width: 540px) {
	.footer .logo {
		display: none;
	}
}
/* Footer Style Ends */
