/*  helpers classes  */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.d-block {
	display: block;
}
.d-flex {
	display: flex;
}
.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.mt-1 {
	margin-top: 1rem;
}
.mr-1 {
	margin-right: 1rem;
}
.ml-1 {
	margin-left: 1rem;
}
.mb-1 {
	margin-bottom: 1rem;
}

.pt-1 {
	padding-top: 1rem;
}
.pr-1 {
	padding-right: 1rem;
}
.pl-1 {
	padding-left: 1rem;
}
.pb-1 {
	padding-bottom: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}
.mr-2 {
	margin-right: 2rem;
}
.ml-2 {
	margin-left: 2rem;
}
.mb-2 {
	margin-bottom: 2rem;
}

.pt-2 {
	padding-top: 2rem;
}
.pr-2 {
	padding-right: 2rem;
}
.pl-2 {
	padding-left: 2rem;
}
.pb-2 {
	padding-bottom: 2rem;
}

.border-rds-1 {
	border-radius: .5rem;
}

.color-black {
	color: #000;
}

/*  helpers classes  */
