.comment {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(0, 0, 0, .8);
}

.comment-content {
  margin-right: 2rem;
}
.comment-del-button {
  position: absolute;
  top: 5px;
  right: 0;
  border: none;
  color: #fff;
  cursor: pointer;
}
.comment-footer {
}

.comment-author {
  font-size: .9rem;
  font-style: italic;
  font-weight: 500;
}
