.comment {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(0, 0, 0, .8);
}

.comment-content {

}

.comment-footer {
}

.comment-author {
  font-size: 1.4rem;
  font-weight: 500;
}
