.form {
	position: relative;
	margin-top: 2rem;
}
.image-file {
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
	width: 1px;
	left: 50%;
	z-index: -1;
	opacity: 0;
}

.form-text-input {
	display: block;
	width: 100%;
	padding: .5rem;
	border-radius: 5px;
	border: 1px solid var(--light-color);
}
.form-error-text {
	position: absolute;
	bottom: -25px;
	color: var(--danger-color);
	transition: .25s transform;
	transform: scale(0);
}
.form-text-input:valid:not(:placeholder-shown) {
	border: 1px solid var(--success-color);
}
.form-text-input:invalid:not(:placeholder-shown) {
	border: 1px solid var(--danger-color);
}
.form-text-input:invalid:not(:placeholder-shown) ~ .form-error-text {
	transform: scale(1);
}
@media screen and (max-width: 600px) {
	.form-error-text {
		left: 50%;
		bottom: 0;
	}
}